/* Fondo general */
.recuperar-container {
  background: url("./assets/fondo.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja recuperación */
.recuperar-box {
  background-color: rgba(30, 30, 30, 0.9);
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(255, 215, 15, 0.635);
}

/* Logo */
.recuperar-box .logo {
  width: 180px;
  margin-bottom: 15px;
  opacity: 0.9;
}

/* Título */
.recuperar-box h3 {
  color: #fff;
  margin-bottom: 20px;
}

/* Input */
.recuperar-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #f9f8f8;
  color: #080808;
}

/* Botón principal */
.recuperar-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0a0a0a;
  color: #ffffff;
  font-weight: bold;
  transition: 0.3s;
}

.recuperar-box button:hover {
  background: #d49e01;
}

/* Botón volver */
.volver {
  background: transparent;
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 10px;
}

.volver:hover {
  text-decoration: underline;
}
.mensaje {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Colores según tipo de mensaje */
.mensaje.exito {
  color: #4caf50; /* Verde */
}

.mensaje.error {
  color: #f44336; /* Rojo */
}

.mensaje.advertencia {
  color: #ff9800; /* Naranja */
}